<div>
  <%= link_to prompt.title, prompt %>
  <%= button_to "Upvote", [prompt, :upvote], class: "upvote" %>
  <%= button_to "Downvote", [prompt, :downvote], class: "downvote" %>
  <p id="score_<%= prompt.id %>">Votes: <%= prompt.score %></p>
</div>

<div>
  <%= prompt.body %>
</div>

<div>
  <p>Posted by: <%= prompt.user.email %></p>
</div>
