<div>
  <%= button_to "Downvote", [prompt, :downvote], class: "downvote" %>
  <%= button_to "Upvote", [prompt, :upvote], class: "upvote" %>
  <% if ! current_page?(prompt_path(prompt)) %>
    <h5 class="title">
      <%= link_to prompt.title, prompt_path(prompt) %>
    </h5>
  <% end %>
  <p class="score-text" id="score_<%= prompt.id %>">Votes: <%= prompt.score %>
  Category: <%= prompt.category.title %></p>
</div>
