<%= form_for @prompt do |form| %>
  <div>
    <%= form.label :title, "Write the title of your prompt here: " %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, "Write the body of your prompt here: " %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :prompt_categories %>
    <%= form.collection_select(:category_id, @categories, :id, :title,
                               include_blank: "Select Category") %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
