<%= form_for @prompt do |form| %>
  <div class="new-prompt">
    <%= form.label :title, "Write the Title of Your Prompt Here: " %>
    <%= form.text_field :title %>

    <%= form.label :body, "Write the Body of Your Prompt Here: " %>
    <%= form.text_area :body %>

    <%= form.label :prompt_categories %>
    <%= form.collection_select(:category_id, @categories, :id, :title,
                               include_blank: "Select Category") %>

    <%= form.submit %>
    <% end %>
  </div>
