<%= form_for project do |form| %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :category %>
    <%= form.select :category, Project::CATEGORY %>
  </div>

  <%= form.submit %>
<% end %>
