<!DOCTYPE html>
<html>

  <head>
    <title>Lucid</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% if signed_in? %>
      <h2><%= link_to "lucid", root_path %></h2>
      <%= link_to "Sign out", session_path, method: :delete %>
      <%= link_to "Prompt Hub", prompts_path %>
    <% else %>
      <%= link_to "Sign up", new_user_path, html: { class: "sign-up" } %>
    <% end %>
    <%= yield %>
  </body>
</html>
