<!DOCTYPE html>
<html>

  <head>
    <title>Lucid</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

    <link href='https://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <header class="centered-navigation">
      <div class="centered-navigation-wrapper">
        <a href="javascript:void(0)" class="mobile-logo">
          <img src=<%= image_path "pencil-logo.png" %> alt="Logo image">
        </a>
        <a href="" class="centered-navigation-menu-button"></a>
        <ul class="centered-navigation-menu">
          <li class="nav-link"><%= link_to "Lucid", root_path %></li>
          <li class="nav-link"><%= link_to "Prompts", prompts_path %></li>
          <li class="nav-link logo">
            <a href="javascript:void(0)" class="logo">
              <img src="<%= image_path "pencil-logo.png" %>">
            </a>
          </li>
          <li class="nav-link">
            <a href="https://DRFrenette.github.io">About the Creator</a></li>
          <li class="nav-link">
            <% if signed_in? %>
              <%= link_to "Sign out", session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_path, html: { class: "sign-up" } %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
